:root {
  --cloud-color: rgb(0, 143, 195);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* =====body=============================== */
body {
  /* background-color: var(--cloud-color);*/
  background-image: url("./components/images/WindmillClouds.jpg");
  /* background-position: top; */
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 1000px;
  background-attachment: fixed;
}

/*=====GENERAL===========================*/
.main-content-holder {
  margin: 10%;
  margin-top: 12%;
  margin-left: 20%;
  margin-right: 20%;
}

/*===Navbar.js===== */
.willb-navbar {
  /* background-color: #333333;
  color: #ffffff; */
  background-image: url("./components/images/croppedMenu.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  /* background-position: center; */
}

/* =====Portfolio.js================================= */
.project-card-holder {
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#top-project-card {
  flex: 1 1 100%;
  /* background-image: url("../public/images/TheCEO.jpg"); */
  background-size: cover;
  background-position: center;
  height: 400px;
}

#project-card {
  /* background-image: url("../public/assets/images/restingFace.jpg"); */
  background-size: cover;
  background-position: center;
}

.card {
  box-shadow: 5px 5px 10px var(--shadow-color);
  margin: 1%;
  width: 48%;
  height: 400px;
}

a {
  text-decoration: none;
}

figure h3,
figure p {
  color: white;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

/* ============Home.js============== */

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./components/images/WindmillClouds.jpg");

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/* =====About.js================================= */

#granim {
  z-index: -1;
  /* object-fit: cover; */
}

#profile-photo {
  width: 40%;
  float: left;
  margin-right: 5%;
}

/*========footer===================================*/
footer {
  bottom: 0;
  /* left: 0; */
  padding: 2%;
  position: fixed;
  text-align: center;
  width: 100%;
  background-image: url("./components/images/croppedMenu.jpg");
  background-size: cover;
}

/* ==========Resume======================== */
#resume-image {
  width: 100%;
}
