:root {
  --cloud-color: rgb(0, 143, 195);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* =====body===== */
body {
  background-color: var(--cloud-color);
}

/*===Navbar.js===== */
.willb-navbar {
  /* background-color: #333333;
  color: #ffffff; */
  background-image: url("./components/images/croppedMenu.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  /* position: fixed; */
  width: 100%;
  /* background-position: center; */
}

/* =====Portfolio.js======= */
.project-card-holder {
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#top-project-card {
  flex: 1 1 100%;
  /* background-image: url("../public/images/TheCEO.jpg"); */
  background-size: cover;
  background-position: center;
  height: 400px;
}

#project-card {
  /* background-image: url("../public/assets/images/restingFace.jpg"); */
  background-size: cover;
  background-position: center;
}

.card {
  box-shadow: 5px 5px 10px var(--shadow-color);
  margin: 1%;
  width: 48%;
  height: 400px;
}

a {
  text-decoration: none;
}

figure h3,
figure p {
  color: white;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

/* =====About.js===== */

#granim {
  z-index: -1;
  /* object-fit: cover; */
}

/*========footer=====*/
footer {
  bottom: 0;
  /* left: 0; */
  padding: 2%;
  position: fixed;
  text-align: center;
  width: 100%;
  background-image: url("./components/images/croppedMenu.jpg");
  background-size: cover;
}
