/* * {
  background-color: #333333;
  color: #ffffff;
} */

.willb-navbar {
  /* background-color: #333333;
  color: #ffffff; */
  background-image: url("./images/croppedMenu.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center; */
}
